<div id="aboutme-slideshow">
    <div>
        <div>
        hey
        </div>
        <div>
        whatever
        </div>
        <div>
            Pretty cool eh? This slide is proof the content can be anything.
        </div>
    </div>
    <div class="slideshow-pictures">
        {% if site.linkedin_username != null %}
        <a class="social-link" aria-label="My LinkedIn" target="_blank"
        href="https://www.linkedin.com/in/{{site.linkedin_username}}">
        <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
            <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
            </svg>
        </div>
        </a>
        {% endif %}

        {% if site.twitter_username != null %}
        <a class="social-link" aria-label="My Twitter" target="_blank"
          href="https://twitter.com/{{site.twitter_username}}">
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
        </a>
        {% endif %}
        
    </div>
</div>